.cf_comply_box {
    font-size: 0.75em;
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: left;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 4px;
    box-sizing: border-box;
    padding: .25em .5em;
    margin: 1em 0;
}

label.cf_comply_checkbox_label {
    display: block;
    width: auto;
    padding: 1.641em;
    cursor: pointer;
}

.cf_comply_box input[type="checkbox"] {
    width: 2.3em;
    height: 2.3em;
}
